
@{
    ViewBag.Title = "Welcome to the Adventure Works Photo Sharing!";
}

<div class="alert alert-success">Welcome to the Adventure Works Photo Sharing! Use this site to share your adventures</div>

<h2 class="page-header">Lastest Photos</h2>

@Html.Action("_PhotoGallery", "Photo", new { number = 3 })


